# ignored at all levels
.svn
.DS_Store
._.DS_Store
.recommenders
.metadata
.project
.settings
*.cxl
*.key
#license.*
.tomcatplugin
.#webclasspath
RemoteSystemsTempFiles
*.pem
*.log
*.zip
*.pid
*.out
*.tar
*.tar.gz

/env/ochemenv/ochem.release
/env/ochemenv/ochemenv.sif
/env/ochemenv/tmp/
/servers/ochem/ochem.sif
/servers/ochem/runs
/servers/gpu/runs
